@font-face {
    font-family: "Circular Std";
    src: url("../assets/fonts/CircularStd/CircularStd-Medium.woff2") format("woff2"),
      url("../assets/fonts/CircularStd/CircularStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Circular Std";
    src: url("../assets/fonts/CircularStd/CircularStd-Medium.woff2") format("woff2"),
      url("../assets/fonts/CircularStd/CircularStd-Medium.woff") format("woff");
    font-weight: 450;
    font-style: normal;
    font-display: block;
}