@import "@styles/variables.scss";

.categories{
    margin: $spacing-unit-4 0;
    border-bottom: 1px solid #DFE2E4;
    .categories__wrapper{
        padding: 0 $spacing-unit-4;
        display: flex;
        .categorie{
            margin-right: $spacing-unit-9;
            padding: $spacing-unit-1;
            cursor: pointer;
            &_active{
                color: $blue;
                margin-right: $spacing-unit-9;
                border-bottom: 3px solid $blue;
                padding: $spacing-unit-1;
                cursor: pointer;
            }
        }  
    }
}

