@import "@styles/variables.scss";

.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
    align-items: center;
    padding: 3px 7px;
    border: 2px solid #fff;
    font-size: 13px;
    text-align: right;
}

.coinName{
    display: flex;
    align-items: center;
    text-align: left;
    img{
        margin-right: 5px;
    }
}

.card:hover{
    background: #E7F3FF;
    border: 2px solid #0E58A6;
    box-sizing: border-box;
}

.cardImg{
    width: 20px;
    height: 20px;
}

.changeUp{
    color: #22ab94;
}

.changeDown{
    color: #f23645;
}