@import "@styles/variables.scss";

.card{
    padding: $spacing-unit-4;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    border-radius: 8px;
    background: $white;
    margin-bottom: $spacing-unit-2;
    font-weight: 450;
    &__wrapper_flex{
        display: flex;
    }
    &__img{
        display: block;
        width: 40px;
        height: 40px;
        margin-right: $spacing-unit-3;
    }
    &__name{
        @include text(450, 18px, 20px, $black);
        margin-bottom: $spacing-unit-1;
    }
    &__symbol{
        @include text(450, 12px, 15px, $grey);
    }
    &__price{
        @include text(450, 18px, 20px, $black);
        margin-bottom: $spacing-unit-1;
        text-align: right;
    }
    &__priceChange{
        @include text(500, 10px, 13px, $black);
        text-align: right;
        &_down{
            color: $red;
        }
        &_up{
            color: $green;
        }
    }
}